body {
    margin: 0;

    min-width: 370px;
}

:root {
    --bx2-gray: #333333;
    /* --bx2-blue: #007bff; */
    --bx2-blue: rgb(18 149 211) ;
    --bx2-green: #28a745;
    --bx2-lightgray: #eeeeee;
    --bx2-lightgray2: #4e4e4e;
    --bx2-red: #dc3545;
    --bx2-yellow: #ffc107;
    --bx2-orange: #fd7e14;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top__nav {
    display: flex;
    /* justify-content: space-between; */
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 999;
    
}

.page__logo {
  width: auto;
  height: 23px;
  margin: auto 0;
  padding: 1rem;
}

@media(max-width: 500px){
  .page__logo {

    height: 19px;
  }
}

.main__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
 
    margin-left: auto;
}

.main__nav a {
    color: var(--bx2-gray);
    text-decoration: none;
}

.main__nav a:hover {
    color: var(--bx2-blue);
    border-bottom: 1px solid var(--bx2-blue);
}

.user__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    
    position: relative;

}

.user__icon {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--bx2-blue);
    color: white;
    border-radius: 50%;
    cursor: pointer;
    line-height: 2px;
    
}

@media(max-width: 500px) {
  .user__icon {
   display: none;
  }

  .mobile__menu__hamburger__icon {
    display:block;
  }

}

.mobile__menu__hamburger__icon {
  height: 45px;
  width: auto;
  margin-left: auto;
  padding: 0.4rem 1rem;
}



.user__nav__dropdown {
    position: absolute;
    display: none;
    min-width: 200px;
    background-color: var(--bx2-lightgray);
    top: 80px;
    right: 12px;

    padding: 1rem;
}

.user__nav__dropdown a {
    color: var(--bx2-gray);
    text-decoration: none;
    display: block;
    padding: .4rem 1rem;
}

.user__nav__dropdown a:hover {
    color: var(--bx2-blue);
}

.user__nav__dropdown p {
    color: var(--bx2-gray);
    text-decoration: none;
    display: block;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0rem 1rem;
    cursor: pointer;
}

p.title {
    font-weight: bold;
    color: var(--bx2-blue);
    margin-bottom: 0rem;
}

p.subtitle {
    margin-top: .3rem;
    font-size: .8rem;
}

.user__nav__dropdown::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    right: 7px;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    background-color: var(--bx2-lightgray);
}

.nav__notification::after {
    content: "(+1)";
    color: var(--bx2-blue);
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 1rem;

}

.show {
    display: block;
}

/* Pågående beställnig */


.current__orders {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.order__info {
  max-width: 50ch;
}


.current__orders__list {
    margin: 0 auto;
    width: min(700px, 100%);
    flex-direction: column;
    font-size: 1rem;
  }

  /* @media(max-width: 700px){
    .current__orders__list {
      min-width: 100%;
    }
  } */
  
  .orders__row {
    cursor: pointer;
    margin: 0 .5rem;
    display: grid;
    grid-template-columns: auto 1fr 1fr  1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "usericon   title   status   arrow"
      "usericon   id      status      arrow"
      "usericon   type    status  arrow";
    gap: 5px;
    padding: 1rem 0;
    align-items: center;
    
    border-bottom: 1px solid var(--bx2-lightgray);
  }

  @media(max-width: 500px){
    .orders__row {
      padding: .5rem;
      grid-template-columns: 60px 1fr 60px ; 

      grid-template-areas:
        "usericon   title     title"
        "usericon       title      title"
        "usericon       id       arrow"
        "usericon       type       arrow"
        "usericon status status";
    }
  }

  .orders__row:hover {
    background-color: var(--bx2-lightgray);
    transform: scale(1.01);
 
  }
  

  .order__row__usericon {
    grid-area: usericon;
    border-radius: 50%;
    width: 50px;
    margin-right: 1rem;
    height: 50px;
    object-fit: cover;
    grid-row-start: 1;
  }
  

  .order__row__title {
    grid-area: title;
    margin: 0;
    font-size: 1rem;
  }
  
.order__row__id {
    grid-area: id;
    margin: 0;
  }
  .order__row__type {
    grid-area: type;
    display: flex;
    color: var(--bx2-blue);
    font-weight: bold;
    flex-direction: row;
  }
  

  .order__row__type,
  .order__row__id,
  .order__row__status {
    margin: 0 10px 0 0;
  }
  
.order__row__status {
    grid-area: status;
    justify-self: center;
    align-self: center;
}
@media(max-width: 500px){
  .order__row__status {
    justify-self: start;
  }
}

  .order__row__arrow {
    grid-area: arrow;
    width: 40px;
    height: 40px;
    justify-self: end;
  }

  .ongoing {
    color: var(--bx2-green);
  }

  .ongoing::before {
    content: "";
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background-color: var(--bx2-green);
  }

/* dialoger */
  
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  dialog.order__row__details {
    width: min(700px, 100%);
  }
  
  .row__details__heading {
    font-size: 24px;
    color: #000;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .row__details__rows {
    display: flex;
    flex-direction: column;
  }
  
  .row__details__wrapper:nth-child(even), .unit__row:nth-child(even) {
    background-color: #f0f0f0;
  }
  
  .row__details__wrapper:nth-child(odd),   .unit__row:nth-child(odd) {
    background-color: #e0e0e0;
  }
  
  .row__details__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   
  }
  
  .row__details__taxonomy {
    margin: 0;
    font-weight: bold;
  }
  
  .row__details__value {
    margin: 0;
  }
  
  .unit__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .unit__row__taxonomy {
    margin: 0;
    font-weight: bold;
  }
  
  .unit__row__value {
    margin: 0;
  }
  
  .row__details__heading {
    color: var(--bx2-blue);
    padding: 10px;
    text-align: center;
    font-size: 24px;
   
    text-decoration: underline;
  }
  
  .units__wrapper {
    margin: 0 auto;
    margin-bottom: 1rem;
    border: 1px solid var(--bx2-gray);
    width: 100%;
    max-width: 300px;
  }
  
  details.row__details__units {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
  }

  summary.row__details__summary {
    background: var(--bx2-blue);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 1rem;
  }

  /* Ny beställning */

  .form__step {
    max-width: 500px;
    margin: 0 auto;
    /* box-shadow: 6px 5px 11px #afafafc9; */
    border-radius: 5px;
    /* border-left: 1px solid var(--bx2-lightgray); */
    /* border-right: 1px solid var(--bx2-lightgray); */
    /* border-bottom: 1px solid var(--bx2-lightgray); */
    border-top: 1px solid var(--bx2-lightgray);
    
    padding: 0 1rem;
    /* margin-bottom: 3rem; */
  }

  button.button__next__step {
 
    padding: 1rem;
    margin: 1rem auto;
    display: none;
    background: var(--bx2-blue);
    border: none;
    color: white;
    min-width: 300px;
}

  .form__step h2 {
    text-align: center;
    font-weight: 400;
    /* text-transform: uppercase; */
    color: var(--bx2-gray)
  }

  .form__two__cols {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
      "col1 col2";
    gap: 1rem;
    align-items: center;
  }

  .form__group {
    display: flex;
    flex-direction: column;
    position: relative;
    padding:0  1rem;
    
  }

  .form__group input[type="text"], .form__group textarea, .form__group input[type="date"] {
    border-radius: 0px;
     outline: none;
  
   }

  .form__group input[type="text"]:focus, .form__group textarea:focus{

     outline: none;
     border-color: var(--bx2-blue);
   }

  label {
    font-size: 0.8rem;
    color: var(--bx2-gray);
  }

  input[type="text"], textarea, input[type="date"] {
    border: 1px solid var(--bx2-lightgray2);
    border-radius: 5px;
    padding: .5rem;
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }

  input[type="text"]::placeholder {
    color: rgb(177, 177, 177);
   
   
  }

  textarea {
    height: 110px;
  }

  .span-2 {
    grid-column: 1 / span 2;
  }

  .form__one__col {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "col1";
    gap: 1rem;
    align-items: center;
    margin: 1rem 0;
  }

  .photo__col {
   display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    justify-content: center;
  }

  .photo__button {
    
    border: none;
    margin: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1rem;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px dotted var(--bx2-green);
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .photo__button img {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }

  .supplier__row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "logo title phone email select"
      "logo distance phone email select"
      "logo empty phone email select";
    /* gap: 1rem; */
    align-items: center;
    padding: .5rem;
    cursor: pointer;

    border-bottom: 1px solid var(--bx2-lightgray);
  }

  .supplier__row:hover {
    background-color: var(--bx2-lightgray);
    transform: scale(1.01);
 
  }
  

  .supplier__row p, .supplier__row h2, .supplier__row a {
    margin: 0;
    padding: 0;
  }

  .supplier__logo {
    grid-area: logo;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    }

  .supplier__title {
    grid-area: title;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
  }

  .supplier__phone {
    grid-area: phone;
    font-size: 0.8rem;
    color: var(--bx2-blue);
    justify-self: flex-end;
    align-self: center;
  }

  .supplier__email {
    grid-area: email;
    font-size: 0.8rem;
    color: var(--bx2-blue);
    justify-self: flex-end;
    align-self: center;
  }

  .supplier__distance {
    grid-area: distance;
    font-size: 0.8rem;
    color: var(--bx2-blue);
  }

  .supplier__select {
   grid-area: select;
   height: 35px;
    width: 35px;
   justify-self: flex-end;
  }

  .three__cols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "col1 col2 col3";
    gap: 1rem;
    align-items: center;
  }

  p.summary__title {
    font-size: .8rem;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
  }

  p.summary__data {
    font-size: .8rem;
    color: var(--bx2-gray);
    margin: 0px;
    padding: 0px;
  }

  .place__order {
    border: 1px solid var(--bx2-green);
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    color: var(--bx2-green);
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .place__order img{
    width: 50px;
    height: auto;
    margin-right: 10px;
  }

  .summary__part {
    align-self: start;
  }

  .form__step__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--bx2-lightgray);
  }

  .form__step__number {
    background-color: var(--bx2-blue);
    color: white;
    padding: .7rem;
    height: 15px;
    display: flex;
    margin-right: .5rem;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    width: 15px;
    border-radius: 50%;
  }

  @media (max-width: 500px) {
    .form__step {
     display: none;
     box-shadow: none;
    }
    #form-step-1 {
      display: block ;
    }

    .form__two__cols {
      display: block;
    }

    .photo__col {
      display: block;
    }

    .three__cols {
      grid-template-columns: initial;
      grid-template-areas: initial;
      justify-content: center;
    }

    .summary__part {
      padding-bottom: 1rem;
    border-bottom: 1px solid var(--bx2-blue);
    }

    button.button__next__step {
      display: block;
    }

    .main__nav {
      display: none;
    }

  }

  img.map__placeholder {
    width: 100%;
}



/* //Login */
/* 
<div class="login__wrapper">

<div class="login__floating__frame">
    <div class="frame__two__cols">
        <div class="login__news__col">
            Nyheter:

        </div>
        <div class="login__form__col">
            <img src="placeholder.jpg" class="login__logo"/>
            <h1>Logga in</h1>

            <form>
                <div class="form__field__group">
                    <label for="username">Användarnamn</label>
                    <input type="text" placeholder="Användarnamn" />
                </div>
                <div class="form__field__group">
                    <label for="password">Lösenord</label>
                    <input type="password" placeholder="Lösenord" />

                </div>
                <input type="submit" class="login__button" value="Logga in" />
            </form>

            <p class="login__forgot__password">Glömt lösenord?</p>
            <p class="login__small__heading"> Ny här?</p>
            <p class="login__small__text">Kontakta oss för att få ett konto.</p>
        </div>
    </div>
</div> */


.login__wrapper {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(45deg, #299874, #0045c0);
}

.login__news__background {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.login__floating__frame {
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 1rem;
  background-color: white;
}

.frame__two__cols {
  display: grid;
  max-width: 1100px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "col1 col2";
  gap: 1rem;
  align-items: center;
}

.login__news__col {
  grid-area: col1;
  height: 100%;
  
}

.login__form__col {
  grid-area: col2;
  padding: 5rem;
}

.login__logo {
  width: 262px;
    text-align: center;
    display: block;
    height: auto;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.login__form__col h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.login__form__col form {
  display: flex;
  flex-direction: column;
}

.login__form__col form input {
  margin-bottom: 1rem;
  padding: .5rem;
  border: 1px solid var(--bx2-gray);
  border-radius: 5px;
}

.login__form__col form input[type="submit"]
{
  background-color: var(--bx2-green);
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  
}

.form__field__group input[type="password"],
.form__field__group input[type="text"] {
  font-size: 1rem;
  padding: .2rem .5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--bx2-gray);
  
}



.form__field__group {
  display: flex;
  flex-direction: column;
}

.login__forgot__password {
  font-size: .8rem;
  color: var(--bx2-blue);
  margin-bottom: 1rem;
}

.login__small__heading {
  font-size: .8rem;
  font-weight: 600;
  margin-bottom: 0px;
}

.login__small__text {
  font-size: .8rem;
  color: var(--bx2-gray);
  margin-top: 0px;
}

/* Användarhantering */
/* 

<div class="user__settings__wrapper">
<h2>Användarinställningar</h2>
<h3> Bärgarna AB</h3>
    <div class="user__list">
        <div class="user__list__row">
            <p class="user__list__data">
                <span class="user__list__taxonomy">Användarnamn </span>
                <span class="user__list__value">stefan@grafikcentralen.se</span>
            </p>
            
            <p class="user__list__data">
                <span class="user__list__taxonomy">Namn </span>
                <span class="user__list__value">Stefan Jakobsson</span>
            </p>

            <p class="user__list__action"> Redigera </p>
            <p class="user__list__action"> Ta bort </p>
        </div>
    </div>

    <div class="user__list">
        <div class="user__list__row">
            <p class="user__list__data">
                <span class="user__list__taxonomy">Användarnamn </span>
                <span class="user__list__value">stefan@grafikcentralen.se</span>
            </p>
            
            <p class="user__list__data">
                <span class="user__list__taxonomy">Namn </span>
                <span class="user__list__value">Stefan Jakobsson</span>
            </p>

            <p class="user__list__action"> Redigera </p>
            <p class="user__list__action"> Ta bort </p>
        </div>
    </div>

    <div class="user__list">
        <div class="user__list__row">
            <p class="user__list__data">
                <span class="user__list__taxonomy">Användarnamn </span>
                <span class="user__list__value">stefan@grafikcentralen.se</span>
            </p>
            
            <p class="user__list__data">
                <span class="user__list__taxonomy">Namn </span>
                <span class="user__list__value">Stefan Jakobsson</span>
            </p>

            <p class="user__list__action"> Redigera </p>
            <p class="user__list__action"> Ta bort </p>
        </div>
    </div>



    <button class="user__list__add__button">Lägg till användare</button>
    

  
      
</div> */

.user__settings__wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

.user__settings__wrapper h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}


.user__list {
  box-shadow: 2px 3px 3px 1px rgb(0 0 0 / 12%);

}


.user__list__row {
  
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}



.user__list__row:nth-child(even) {
  background-color: #f0f0f0;
}

.user__list__row:nth-child(odd) {
  background-color: #ffffff;
 
}

.user__list__data {
  display: flex;
  flex-direction: column;
  margin: 0;
}


.user__list__taxonomy {
  font-size: .8rem;
  color: var(--bx2-gray);
  margin: 0;
}

.user__list__value {
  font-size: 1rem;
  font-weight: 600;
}

.user__list__action {
  font-size: .8rem;
  color: var(--bx2-blue);
  cursor: pointer;
}

.user__list__add__button {
  background-color: var(--bx2-green);
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
/* 
<div class="associate__list"> 
    
  
<div class="associate__list__row">
    <img src="placeholder.jpg" class="associate__list__row__logo"/>
    <p class="associate__list__row__taxonomy"> Företag</p>
    <p class="accociate__list__row__value"> Bärgning AB</p>
    <p class="associate__list__row__taxonomy"> Tjänst</p>
    <p class="accociate__list__row__value"> Bärgning</p>
    <p class="associate__list__row__taxonomy"> Telefon</p>
    <p class="accociate__list__row__value"> 076 880 45 45</p>
    <p class="associate__list__row__taxonomy"> E-post</p>
    <p class="accociate__list__row__value">info@bargningab.se</p>
    <img src="placeholder.jpg" class="associate__add__button"/>
</div>
<div class="associate__list__row">
    <img src="placeholder.jpg" class="associate__list__row__logo"/>
    <p class="associate__list__row__taxonomy"> Företag</p>
    <p class="accociate__list__row__value"> Bärgning AB</p>
    <p class="associate__list__row__taxonomy"> Tjänst</p>
    <p class="accociate__list__row__value"> Bärgning</p>
    <p class="associate__list__row__taxonomy"> Telefon</p>
    <p class="accociate__list__row__value"> 076 880 45 45</p>
    <p class="associate__list__row__taxonomy"> E-post</p>
    <p class="accociate__list__row__value">info@bargningab.se</p>
    <img src="placeholder.jpg" class="associate__add__button"/>
</div>
<div class="associate__list__row">
    <img src="placeholder.jpg" class="associate__list__row__logo"/>
    <p class="associate__list__row__taxonomy"> Företag</p>
    <p class="accociate__list__row__value"> Bärgning AB</p>
    <p class="associate__list__row__taxonomy"> Tjänst</p>
    <p class="accociate__list__row__value"> Bärgning</p>
    <p class="associate__list__row__taxonomy"> Telefon</p>
    <p class="accociate__list__row__value"> 076 880 45 45</p>
    <p class="associate__list__row__taxonomy"> E-post</p>
    <p class="accociate__list__row__value">info@bargningab.se</p>
    <img src="placeholder.jpg" class="associate__add__button"/>
</div>

</div> */

/* Associate manager */

.associate__manager__wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
  color: var(--bx2-gray);
}

.associate__list {
  box-shadow: 2px 3px 3px 1px rgb(0 0 0 / 12%);
  margin-bottom: 1rem;
  border-radius: 5px;
  margin-bottom: 3rem; 
}

.associate__list__row {
 display: grid;
 grid-template-columns: 1fr 3fr 1fr 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "logo   company   email   phone   status  add"
    "logo   type      email   phone   status  add";

      border-bottom: 1px solid var(--bx2-lightgray);
}

.associate__list__row__status {
  grid-area: status;
  font-size: 1rem;
  font-weight: 200;
  color: inherit;
  margin: 0;
  align-self: center;
  margin: 0;
  padding: 0px;
  border-radius: 5px;
  color: white;
  font-size: .8rem;
  
  text-align: center;
  padding: .1rem 1rem;
}

.associate__status__green {
  background-color: var(--bx2-green);
}

.associate__status__yellow {
  background-color: var(--bx2-orange);
}

.associate__list__row__delete {
  color: var(--bx2-red);
  cursor: pointer;
  grid-area: delete;
  text-decoration: underline;
  margin: 0;
}

.associate__list__row__logo {
  grid-area: logo;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
  align-self: center;
  margin: .5rem;
}

.associate__list__row__taxonomy {
  font-size: .8rem;
  color: var(--bx2-gray);
  margin: 0;
}

.associate__list__row__value {
  font-size: 1rem;
  font-weight: 600;
}

.associate__list__row__company {
  grid-area: company;
  font-size: 1.1rem;
  font-weight: 600;
  align-self: flex-end;
  margin: 0;
}

.associate__list__row__type {
  grid-area: type;
  align-self: flex-start;
  margin: 0;
}

.associate__list__row__phone {
  grid-area: phone;
  align-self: center;
  color: var(--bx2-blue);
}

.associate__list__row__email {
  grid-area: email;
  align-self: center;
  color: var(--bx2-blue);
}

.associate__list__row__add {
  grid-area: add;
  justify-self: end;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  font-weight: 600;
  height: 30px;
  width: 30px;
  font-size: 1rem;
  cursor: pointer;
}

/* .associate__list__row:nth-child(even) {
  background-color: #f0f0f0;
}

.associate__list__row:nth-child(odd) {
  background-color: #e0e0e0;
 
} */



.associate__list__add__button:hover {
  background-color: var(--bx2-green-hover);
}

.associate__list__add__button:active {
  background-color: var(--bx2-green-active);
}

.associate__list__add__button:focus {
  outline: none;
}


p, h1, h2, h3 {
  color: var(--bx2-gray)
}

#mobile-menu {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  padding: 1rem;
  margin: 0;
  box-sizing: border-box;

}

.mobile__menu__icon {
  width: 180px;
  height: auto;
}

.mobile__menu__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 1rem;

}

.mobile__menu__close {
  width: 30px;
  height: auto;

}

.mobile__info__name {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: var(--bx2-blue);
}

.user__info {
  margin: 1rem 0;
  text-align: center;
}

.mobile__info__usertype {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--bx2-gray);
}

.mobile__menu__nav {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--bx2-gray);
}

.nav__row {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: 400;
  color: var(--bx2-gray);
}

.nav__row:hover {
  color: var(--bx2-blue);
}

hr {
  border: 1px solid var(--bx2-lightgray);
  margin: 0;
  padding: 0;
}




/* 
<dialog id="mobile-menu">
    <img src="img/pagelogo.png" class="mobile__menu__icon">
    <img src="icons/red/delete.png" class="mobile__menu__close">
    <div class="user__info">
        <div class="user__info__name"> Stefan Jakobsson</div>
        <div class="user__info__usertype">Administratör</div>
    </div>


    <div class="mobile__menu__nav">
        <div class="nav__row">Ny beställning</div>
        <div class="nav__row">Pågående beställningar</div>
        <div class="nav__row">Ordershitorik</div>
        <div class="nav__row">Leverantörer</div>
        <hr>
        <div class="nav__row">Dina uppgifter</div>
        <div class="nav__row">Användare</div>
        <hr>
        <div class="nav__row">Support</div>
        <div class="nav__row">Logga ut</div>
    </div>
</dialog> */

.form__icon {
  background-size: 15px !important;
  background-repeat: no-repeat !important;
  background-position: 9px center !important;
  padding-left: 30px !important;
}

.textarea__icon {
  background-size: 18px !important;
  background-repeat: no-repeat !important;
  background-position: 9px 11px !important;
  padding-left: 30px !important;
}

