<div class="associate__manager__wrapper content__background">
    <h2 class="page__heading"> Leverantörer</h2>
    <div class="associate__list content__frame"> 
        <h3> Lägg till leverantör</h3>
        <p> När en organisation godkänner att agera som leverantör öppnas möjligheten att skicka arbetsuppgifter till dem genom Bravo X2 Portal.  </p>

        <div class="associate__list__row">
            <img src="img/logo1.PNG" class="associate__list__row__logo"/>
            <p class="associate__list__row__company"> Täby Bärgning & Assistans</p>
            <p class="associate__list__row__type"> Bärgning</p>
            <a href="#" class="associate__list__row__phone"> Telefon</a>
            <a href="#" class="associate__list__row__email"> E-post</a>
          
            <img src="icons/blue/leftarrow.png" class="associate__list__row__add"/>
        </div>


        <div class="associate__list__row">
            <img src="img/logo2.PNG" class="associate__list__row__logo"/>
            <p class="associate__list__row__company"> Umeå Bärgningstjänst</p>
            <p class="associate__list__row__type"> Bärgning</p>
            <a href="#" class="associate__list__row__phone"> Telefon</a>
            <a href="#" class="associate__list__row__email"> E-post</a>
          
            <img src="icons/blue/leftarrow.png" class="associate__list__row__add"/>
        </div>


        <div class="associate__list__row">
            <img src="img/logo3.PNG" class="associate__list__row__logo"/>
            <p class="associate__list__row__company"> Gotlands Räddningstjänst</p>
            <p class="associate__list__row__type"> Bärgning</p>
            <a href="#" class="associate__list__row__phone"> Telefon</a>
            <a href="#" class="associate__list__row__email"> E-post</a>
          
            <img src="icons/blue/leftarrow.png" class="associate__list__row__add"/>
        </div>
</div>

    <div class="associate__list content__frame"> 
        <h3> Dina levernatörer</h3>
        <p> Här kan du hantera dina levernatörer och  </p>

        <div class="associate__list__row">
            <img src="img/logo1.PNG" class="associate__list__row__logo"/>
            <p class="associate__list__row__company"> Mälardalens Tungbärgning</p>
            <p class="associate__list__row__type"> Bärgning</p>
            <a href="#" class="associate__list__row__phone"> Telefon</a>
            <a href="#" class="associate__list__row__email"> E-post</a>
            <p class="associate__list__row__status associate__status__green "> Leverantör
            </p>
            
            <img src="icons/red/delete.png" class="associate__list__row__add"/>
        </div>
        
        
        <div class="associate__list__row">
            <img src="img/logo2.PNG" class="associate__list__row__logo"/>
            <p class="associate__list__row__company"> TMA Nord</p>
            <p class="associate__list__row__type"> TMA</p>
            <a href="#" class="associate__list__row__phone"> Telefon</a>
            <a href="#" class="associate__list__row__email"> E-post</a>
            <p class="associate__list__row__status associate__status__yellow  "> Väntar svar
            </p>
            
            
            <img src="icons/red/delete.png" class="associate__list__row__add"/>
        </div>
        
        
        <div class="associate__list__row">
            <img src="img/logo3.PNG" class="associate__list__row__logo"/>
            <p class="associate__list__row__company"> Gävle Bärgning & Transport </p>
            <p class="associate__list__row__type"> Bärgning</p>
            <a href="#" class="associate__list__row__phone"> Telefon</a>
            <a href="#" class="associate__list__row__email"> E-post</a>
            <p class="associate__list__row__status associate__status__green "> Leverantör
            </p>
                
          
            <img src="icons/red/delete.png" class="associate__list__row__add"/>
        </div>
</div>


</div>