<div class="current__orders content__background">
    <h2 class="page__heading"> Pågående beställningar </h2>

    <p class="order__info"> På denna plats kan du följa statusen för dina beställningar och se all relevant information om jobbet. </p>
    <div class="current__orders__list content__frame ">
        
        <div class="orders__row" onClick="document.getElementById('order-row-details').showModal()">
            <img src="img/logo5.PNG" class="order__row__usericon"/>
            <h2 class="order__row__title">Södermanlands Bärgningstjänst</h2>
            <p class="order__row__type">Bärgning</p> 
            <p class="order__row__id">BX2230400099-1</p> 
            <p class="order__row__status ongoing">Pågående</p> 
            <img src="icons/blue/leftarrow.png" class="order__row__arrow"/>
        </div>

        
       
        <div class="orders__row" onClick="document.getElementById('order-row-details').showModal()">
            <img src="img/logo2.PNG" class="order__row__usericon"/>
            <h2 class="order__row__title">Bärgning & Assistans</h2>
            <p class="order__row__type">Multitransport(3)</p> 
            <p class="order__row__id">BX2230400099-1</p> 
            <p class="order__row__status ongoing">Pågående</p> 
            <img src="icons/blue/leftarrow.png" class="order__row__arrow"/>
        </div>
       
        <div class="orders__row" onClick="document.getElementById('order-row-details').showModal()">
            <img src="img/logo1.PNG" class="order__row__usericon"/>
            <h2 class="order__row__title">Bärgningsexperten</h2>
            <p class="order__row__type">Bärgning</p> 
            <p class="order__row__id">BX2230400099-1</p> 
            <p class="order__row__status ongoing">Pågående</p> 
            <img src="icons/blue/leftarrow.png" class="order__row__arrow"/>
        </div>

        <dialog id="order-row-details" class="order__row__details">
            <h2 class="row__details__heading">BX2230400099-1</h2>

            <div class="row__details__rows">
                <div class="row__details__wrapper">
                    <p class="row__details__taxonomy">Jobbnummer</p>
                    <p class="row__details__value"> BX2230400099-1</p>
                </div>
                <div class="row__details__wrapper">
                    <p class="row__details__taxonomy">Status</p>
                    <p class="row__details__value ongoing"> Pågående</p>
                </div>
                <div class="row__details__wrapper">
                    <p class="row__details__taxonomy">Larmnummer</p>
                    <p class="row__details__value"> BX2230400099-1</p>
                </div>
                <div class="row__details__wrapper">
                    <p class="row__details__taxonomy">Från</p>
                    <p class="row__details__value"> Sveavägen 1. 11157 ST...</p>
                </div>
                <div class="row__details__wrapper">
                    <p class="row__details__taxonomy">Till</p>
                    <p class="row__details__value"> Elektravägen 64, Hägersten</p>
                </div>
                <div class="row__details__wrapper">
                    <p class="row__details__taxonomy">Jobb skapat</p>
                    <p class="row__details__value"> 2023-04-13 13:54</p>
                </div>
                <div class="row__details__wrapper">
                    <p class="row__details__taxonomy">På plats</p>
                    <p class="row__details__value"> 2023-04-13 13:54</p>
                </div>
                <div class="row__details__wrapper">
                    <p class="row__details__taxonomy">Vid destination</p>
                    <p class="row__details__value"> 2023-04-13 13:54</p>
                </div>
                <div class="row__details__wrapper">
                    <p class="row__details__taxonomy">Jobb slutfört</p>
                    <p class="row__details__value"> 2023-04-13 13:54</p>
                </div>
                <div class="row__details__wrapper">
                 
                    <details class="row__details__units">
                        
                        <p class="row__details__taxonomy"></p><summary class="row__details__summary">Enheter (2)</summary></p>
                        
                        <div class="units__wrapper">

                            <div class="unit__row">
                                <p class="unit__row__taxonomy">Identitet</p>
                                <p class="unit__row__value"> XDZ361</p>
                            </div>
                            <div class="unit__row">
                                <p class="unit__row__taxonomy">Modell</p>
                                <p class="unit__row__value"> Volvo</p>
                            </div>
                            <div class="unit__row">
                                <p class="unit__row__taxonomy">Typ</p>
                                <p class="unit__row__value"> Personbil</p>
                            </div>
                            <div class="unit__row">
                                <p class="unit__row__taxonomy">Totalvikt</p>
                                <p class="unit__row__value"> 2400 kg</p>
                            </div>
                        </div>
                        
                        <div class="units__wrapper">

                            <div class="unit__row">
                                <p class="unit__row__taxonomy">Identitet</p>
                                <p class="unit__row__value"> XDZ361</p>
                            </div>
                            <div class="unit__row">
                                <p class="unit__row__taxonomy">Modell</p>
                                <p class="unit__row__value"> Volvo</p>
                            </div>
                            <div class="unit__row">
                                <p class="unit__row__taxonomy">Typ</p>
                                <p class="unit__row__value"> Personbil</p>
                            </div>
                            <div class="unit__row">
                                <p class="unit__row__taxonomy">Totalvikt</p>
                                <p class="unit__row__value"> 2400 kg</p>
                            </div>
                        </div>

                    </details>
                </div>
                
            </div>
        </dialog>
    </div>
    
</div>