<div class="landingpage__wrapper content__background">

    
        <h2 class="page__heading"> Mina transporter </h2>
        <div class="landingpage__grid">

            <div class="landingpage__current content__frame">
                <h3 class="landingpage__current__title">Pågående beställningar(5)</h3>
                <p class="landingpage__order__list__message"> Multitransport(2) | Bärgning(2) | TMA(2)</p>
                <div class="landingpage__order__list">

                    <div class="landingpage__order__row">
                        <img class="landingpage__order__row__icon" src="img/logo1.png">
                        <p class="landingpage__order__row__unit">BX2123412312-2</p>
                        <p class="landingpage__order__row__type">Multitransport</p>
                        <p class="landingpage__order__row__time">Just nu</p>
                    </div>

                    <div class="landingpage__order__row">
                        <img class="landingpage__order__row__icon" src="img/logo2.png">
                        <p class="landingpage__order__row__unit">BX2123412312-2</p>
                        <p class="landingpage__order__row__type">Multitransport</p>
                        <p class="landingpage__order__row__time">30 min</p>
                    </div>

                    <div class="landingpage__order__row">
                        <img class="landingpage__order__row__icon" src="img/logo4.png">
                        <p class="landingpage__order__row__unit">BX2123412312-2</p>
                        <p class="landingpage__order__row__type">Multitransport</p>
                        <p class="landingpage__order__row__time">2 tim</p>
                    </div>

                    <p class="landingpage__order__list__showall">Visa alla</p>

                </div>
            </div>


            <div class="landingpage__current content__frame">
                <h3 class="landingpage__current__title">Klara beställningar(1)</h3>
                <p class="landingpage__order__list__message"> Här visas dina klara beställningar</p>
                <div class="landingpage__order__list">

                    <div class="landingpage__order__row">
                        <img class="landingpage__order__row__icon" src="icons/green/check.png">
                        <p class="landingpage__order__row__unit">BX2123412312-2</p>
                        <p class="landingpage__order__row__type">Multitransport</p>
                        <p class="landingpage__order__row__time">12 timmar</p>
                    </div>
                    <div class="landingpage__order__row">
                        <img class="landingpage__order__row__icon" src="icons/green/check.png">
                        <p class="landingpage__order__row__unit">BX2123412312-2</p>
                        <p class="landingpage__order__row__type">Multitransport</p>
                        <p class="landingpage__order__row__time">12 timmar</p>
                    </div>

              
                    <p class="landingpage__order__list__showall">Visa alla</p>

                </div>
            </div>

          
        </div>
   
        <h2 class="page__heading"> Tjänster </h2>
        <div class="landingpage__grid">
            
            <div class="landingpage__generic content__frame">
                <img class="landingpage__generic__icon" src="icons/blue/plus.png">
                <h3 class="landingpage__generic__heading">Lägg ny beställning</h3>
            </div>

            <div class="landingpage__generic content__frame">
                <img class="landingpage__generic__icon" src="icons/blue/team.png">
                <h3 class="landingpage__generic__heading">Lägg till användare</h3>
       
            </div>
            
            <div class="landingpage__generic content__frame">
                <img class="landingpage__generic__icon" src="icons/blue/cog.png">
                <h3 class="landingpage__generic__heading">Användarinställningar</h3>
            </div>

            <div class="landingpage__generic content__frame">
                <img class="landingpage__generic__icon" src="icons/blue/message.png">
                <h3 class="landingpage__generic__heading">Support</h3>
            </div>
           
          

        </div>

</div>