<dialog id="mobile-menu">
    <div class="mobile__menu__top">
        <img src="img/pagelogo.png" class="mobile__menu__icon">
        <img src="icons/red/delete.png" class="mobile__menu__close"
        onClick="document.getElementById('mobile-menu').close()"
        >
    </div>
  
    <hr>

    <div class="mobile__menu__nav"  onClick="document.getElementById('mobile-menu').close()">
        <div class="nav__row"
        onClick="
        document.getElementById('landing-page').style.display = 'none'
            document.getElementById('current-order').style.display = 'none'
            document.getElementById('user-manager').style.display = 'none'
            document.getElementById('associate-manager').style.display = 'none'
            document.getElementById('login-form').style.display = 'none'
            document.getElementById('place-order').style.display = 'block'
            document.getElementById('user-settings').style.display = 'none'
            document.getElementById('prompt-job-type').showModal()
            "
        >Ny beställning</div>

        <div class="nav__row"
        onClick="
            document.getElementById('place-order').style.display = 'none'
            document.getElementById('user-manager').style.display = 'none'
            document.getElementById('associate-manager').style.display = 'none'
            document.getElementById('login-form').style.display = 'none'
            document.getElementById('current-order').style.display = 'block'
            document.getElementById('landing-page').style.display = 'none'
            document.getElementById('user-settings').style.display = 'none'
            
        ">Pågående beställningar</div>

        <div class="nav__row"
        onClick=
        "
            document.getElementById('place-order').style.display = 'none'
            document.getElementById('user-manager').style.display = 'none'
            document.getElementById('associate-manager').style.display = 'none'
            document.getElementById('login-form').style.display = 'none'
            document.getElementById('current-order').style.display = 'block'
            document.getElementById('landing-page').style.display = 'none'
            document.getElementById('user-settings').style.display = 'none'
        "
        
        >Ordershitorik</div>
        <div class="nav__row"
        onClick="
            document.getElementById('place-order').style.display = 'none'
            document.getElementById('user-manager').style.display = 'none'
            document.getElementById('associate-manager').style.display = 'block'
            document.getElementById('login-form').style.display = 'none'
            document.getElementById('current-order').style.display = 'none'
            document.getElementById('landing-page').style.display = 'none'
            document.getElementById('landing-page').style.display = 'none'
            document.getElementById('user-settings').style.display = 'none'
            "
        
        >Leverantörer</div>
        <hr>
        <div class="nav__row"
        onClick="
                document.getElementById('place-order').style.display = 'none'
                document.getElementById('user-manager').style.display = 'block'
                document.getElementById('associate-manager').style.display = 'none'
                document.getElementById('login-form').style.display = 'none'
                document.getElementById('current-order').style.display = 'none'
                document.getElementById('landing-page').style.display = 'none'
                document.getElementById('user-settings').style.display = 'none'
                "
        >Dina uppgifter</div>
        <div class="nav__row"
        onClick="
        document.getElementById('place-order').style.display = 'none'
        document.getElementById('user-manager').style.display = 'none'
        document.getElementById('associate-manager').style.display = 'none'
        document.getElementById('login-form').style.display = 'none'
        document.getElementById('current-order').style.display = 'none'
        document.getElementById('landing-page').style.display = 'none'
        document.getElementById('user-settings').style.display = 'block'
        "
        
        >Användare</div>
        <hr>
        <div class="nav__row"
        
        
        >Support</div>
        <div class="nav__row"
        onClick="
        document.getElementById('place-order').style.display = 'none'
        document.getElementById('user-manager').style.display = 'none'
        document.getElementById('associate-manager').style.display = 'none'
        document.getElementById('login-form').style.display = 'block'
        document.getElementById('current-order').style.display = 'none'
        document.getElementById('landing-page').style.display = 'none'
        document.getElementById('user-settings').style.display = 'none'
        "
        >Logga ut</div>
          <hr>
    <div class="user__info">
        <div class="mobile__info__name"> Stefan Jakobsson</div>
        <div class="mobile__info__usertype">Administratör</div>
    </div>
    </div>
</dialog>