<div class="create__order__wrapper">

    <div class="form__step" id="form-step-1">

        <div class="form__step__header">
            <div class="form__step__number">1</div>
            <h2>Beställaruppgifter</h2>
        </div>
        <order-step-nav></order-step-nav>
            
        <div class="form__two__cols">

            <div class="form__group">
                <label for="order__name">Beställare</label>
                <input class="form__icon" style="background-image: url('icons/blue/team.png');" type="text" id="order__name" name="order__name" placeholder="Ditt namn eller företag">
            </div>
            <div class="form__group">
                <label for="order__name">Telefon, beställare</label>
                <input class="form__icon" style="background-image: url('icons/blue/phone.png');" type="text" id="order__name" name="order__name" placeholder="+46 70 000 00 00">
            </div>
            <div class="form__group">
                <label for="order__name">Telefon på plats</label>
                <input class="form__icon" style="background-image: url('icons/blue/phone.png');" type="text" id="order__name" name="order__name" placeholder="+46 70 000 00 00">
            </div>
            <div class="form__group">
                <label for="order__name">Referens/Larmnummer</label>
                <input class="form__icon" style="background-image: url('icons/blue/hash.png');" type="text" id="order__name" name="order__name" placeholder="">
            </div>
            <div class="form__group span-2">
                <label for="order__name">Meddelande till bärgare</label>
                <textarea class="textarea__icon" style="background-image: url('icons/blue/message.png');" id="order__name" name="order__name" placeholder="Ex: Andra grinden till höger.."></textarea>
            </div>
           
            
            
            <div class="form__one__col">
                
                <div class="form__group">
                    <label for="order__name">Hämtas tidigast</label>
                    <input type="date" id="order__name" name="order__name" placeholder="">
                    Lämnas tidigast
                    <input type="date" id="order__name" name="order__name" placeholder="">
                    
                </div>
            </div>
            
        </div>
        <button onClick="
        document.getElementById('form-step-1').style.display = 'none'
        document.getElementById('form-step-2').style.display = 'block'
        " class="button__next__step">Vidare till upphämtning -></button>
    </div>
    
    
<div class="form__step" id="form-step-2">
    <div class="form__step__header">
        <div class="form__step__number">2</div>
        <h2>Upphämtningsplats</h2>
    </div>
    <div class="form__two__cols">
        <div class="form__group">
            <label for="order__name">Upphämtningsplats</label>
            <input type="text" id="order__name" name="order__name" placeholder="Adress">
        </div>
        <div class="form__group">
            <label for="order__name">Upphämtningsplats, telefon</label>
            <input type="text" id="order__name" name="order__name" placeholder="+46 76 00 00 00">
        </div>
    </div>

    <div class="form__one__col">
        <div class="form__group">
            <label for="order__name">Upphämtningsplats, övrigt</label>
            <textarea type="text" id="order__name" name="order__name" placeholder="Ex: Andra grinden till höger.."></textarea>
        </div>
    </div>
    <button onClick="
    document.getElementById('form-step-2').style.display = 'none'
    document.getElementById('form-step-3').style.display = 'block'
    " class="button__next__step">Vidare till destination -></button>
</div>

<div class="form__step" id="form-step-3">
    <div class="form__step__header">
        <div class="form__step__number">3</div>
        <h2>Destination</h2>
    </div>

    <div class="form__two__cols">
        <div class="form__group">
            <label for="order__name">Destination</label>
            <input type="text" id="order__name" name="order__name" placeholder="Adress">
        </div>
        <div class="form__group">
            <label for="order__name">Destination, telefon</label>
            <input type="text" id="order__name" name="order__name" placeholder="+46 76 00 00 00">
        </div>
    </div>

    <div class="form__one__col">
        <div class="form__group">
            <img src="img/karta.PNG" class="map__placeholder"/>
        </div>
    </div>
    <button onClick="
    document.getElementById('form-step-3').style.display = 'none'
    document.getElementById('form-step-4').style.display = 'block'
    " class="button__next__step">Ladda upp foto</button>
</div>

<div class="form__step" id="form-step-4">
    <div class="form__step__header">
        <div class="form__step__number">4</div>
        <h2>Foto</h2>
    </div>
    <div class="photo__col">
        <div class="photo__button"><img src="placeholder.jpg"></div>
        <div class="form__group">
            <label for="order__name">Kommentar</label>
            <textarea class="photo__description" placeholder="Ex: Höjd 2.8"></textarea>
        </div>
    </div>
    <button onClick="
    document.getElementById('form-step-4').style.display = 'none'
    document.getElementById('form-step-5').style.display = 'block'
    " class="button__next__step">Vidare till leverantör -> </button>
</div>

<div class="form__step" id="form-step-5">
    <div class="form__step__header">
        <div class="form__step__number">5</div>
        <h2>Välj leverantör</h2>
    </div>
    <div class="supplier__rows__wrapper">

        <div class="supplier__row">
            <img src="img/logo3.PNG" class="supplier__logo"/>
            <p class="supplier__title"> Södermanlands Bärgningstjänst</p>
            <p class="supplier__distance">2 km bort</p>
            <a href="#" class="supplier__phone">Ring</a>
            <a href="#" class="supplier__email">Maila</a>
            <img src="icons/blue/leftarrow.png" class="supplier__select"/>
        </div>

        <div class="supplier__row">
            <img src="img/logo1.PNG" class="supplier__logo"/>
            <p class="supplier__title"> Elite Towing AB</p>
            <p class="supplier__distance">33 km bort</p>
            <a href="#" class="supplier__phone">Ring</a>
            <a href="#" class="supplier__email">Maila</a>
            <img src="icons/blue/leftarrow.png" class="supplier__select"/>
        </div>
        
        <div class="supplier__row">
            <img src="img/logo4.PNG" class="supplier__logo"/>
            <p class="supplier__title"> Dalarnas Bärgningsservice</p>
            <p class="supplier__distance">65 km bort</p>
            <a href="#" class="supplier__phone">Ring</a>
            <a href="#" class="supplier__email">Maila</a>
            <img src="icons/blue/leftarrow.png" class="supplier__select"/>
        </div>

        

    </div>
    <button onClick="
    document.getElementById('form-step-5').style.display = 'none'
    document.getElementById('form-step-6').style.display = 'block'
    " class="button__next__step"> Vidare till granskning -></button>
</div>

<div class="form__step" id="form-step-6">
    <div class="form__step__header">
        <div class="form__step__number">6</div>
        <h2>Sammanfattning</h2>
    </div>
    <div class="summary__wrapper">
        <div class="three__cols">
            <div class="summary__part">
                <p class="summary__title">Beställare</p>
                <p class="summary__data">Stefan Jakobsson</p>
                <p class="summary__title">Telefon, beställare</p>
                <p class="summary__data">076 880 45 45 </p>
                <p class="summary__title">Telefon på plats</p>
                <p class="summary__data">076 880 45 45 </p>
                <p class="summary__title">Referense/Larmnummer</p>
                <p class="summary__data">123123 121231 </p>
                <p class="summary__title">Meddelande till bärgare</p>
                <p class="summary__data">Första grinden till höge... </p>
            </div>
            
            <div class="summary__part">
                <p class="summary__title">Hämstas tidigast</p>
                <p class="summary__data">2023-06-11 07:30</p>
                <p class="summary__title">Lämnas tidigast</p>
                <p class="summary__data">2023-06-11 07:30 </p>
                <p class="summary__title">Upphämtningsplats</p>
                <p class="summary__data">Sveavägen 1, Stock... </p>
                <p class="summary__title">Upphämtningsplats, telefon</p>
                <p class="summary__data">076 880 45 45  </p>
                <p class="summary__title">Beskrivning Upphämtningsplats</p>
                <p class="summary__data">Plats 32, vänster om södra port...</p>
            </div>

            <div class="summary__part">
                <p class="summary__title">Destination</p>
                <p class="summary__data">Sveavägen 1, Stock... </p>
                <p class="summary__title">Destination, telefon</p>
                <p class="summary__data">076 880 45 45  </p>    
                <p class="summary__title"> Leverantör</p>
                <p class="summary__data">Bärgningstjänsten</p>
            </div>

            <hr>
        </div>

    </div>
    <button style="display: inherit" onClick="
    document.getElementById('form-step-5').style.display = 'none'
    document.getElementById('form-step-6').style.display = 'block'
    " class="button__next__step">BESTÄLL</button>
</div>
</div>
   
</div>