<div class="user__settings__wrapper content__background">
    <h2 class="page__heading ">Användarinställningar</h2>
    <div class="user__list content__frame">
            <p>Visar användare för Bärgarna AB</p>
          
        
            <div class="user__list__row">
              
                    <div class="user__list__username__taxonomy user__list__taxonomy">Användarnamn </div>
                    <div class="user__list__username__value user__list__value">stefan@grafikcentralen.se</div>
                
            
                    <div class="user__list__realname__taxonomy user__list__taxonomy">Namn </div>
                    <div class="user__list__realname__value user__list__value">Stefan Jakobsson</div>

                    <div class="user__list__email__taxonomy user__list__taxonomy">E-post </div>
                    <div class="user__list__email__value user__list__value">stefan@grafikcentralen.se</div>
                
                    <div class="user__list__phone__taxonomy user__list__taxonomy">Telefon</div>
                    <div class="user__list__phone__value user__list__value">076 880 45 45 </div>
                <img src="icons/blue/edit.png" class="user__list__action"/> 
              
            </div>
        
            <div class="user__list__row">
              
                    <div class="user__list__username__taxonomy user__list__taxonomy">Användarnamn </div>
                    <div class="user__list__username__value user__list__value">stefan@grafikcentralen.se</div>
                
            
                    <div class="user__list__realname__taxonomy user__list__taxonomy">Namn </div>
                    <div class="user__list__realname__value user__list__value">Stefan Jakobsson</div>

                    <div class="user__list__email__taxonomy user__list__taxonomy">E-post </div>
                    <div class="user__list__email__value user__list__value">stefan@grafikcentralen.se</div>
                
                    <div class="user__list__phone__taxonomy user__list__taxonomy">Telefon</div>
                    <div class="user__list__phone__value user__list__value">076 880 45 45 </div>
                <img src="icons/blue/edit.png" class="user__list__action"/> 
            </div>
        </div>



        <button class="save__button"
        onClick="document.getElementById('user-list-add').showModal()"
        >Lägg till användare</button>
        

        <dialog class="user__list__add" id="user-list-add">
        
    
            <div class="form__group">
                <label for="user__name">Användarnamn</label>
                <input type="text" id="user__name" name="user__name" placeholder="Användarnamn">
            </div>

            <div class="form__group">
                <label for="user__name">Namn</label>
                <input type="text" id="user__name" name="user__name" placeholder="Namn">

            </div>

            <div class="form__group">
                <label for="user__name">E-post</label>
                <input type="text" id="user__name" name="user__name" placeholder="E-post">

            </div>

            <div class="form__group">
                <label for="user__name">Telefonnummer</label>
                <input type="text" id="user__name" name="user__name" placeholder="Telefonnummer">

            </div>

            <div class="form__group">
                <label for="user__name">Välj företag</label>
                <select name="user__company" id="user__company">
                    <option value="Bärgarna AB">Bärgarna AB</option>
                    <option value="Grafikcentralen AB">Grafikcentralen AB</option>
                </select>

            </div>

            <h2>Behörigheter</h2>
            <div class="form__group user__checkboxes">
                <div class="user__checkbox__group__item">
                    <input type="checkbox" id="user__name" name="user__name" placeholder="Namn">
                    <label for="user__name">Huvudadministratör</label>
                </div>
                <div class="user__checkbox__group__item">
                    <input type="checkbox" id="user__name" name="user__name" placeholder="Namn">
                    <label for="user__name">Företagsadministratör</label>
                </div>
                <div class="user__checkbox__group__item">
                    <input type="checkbox" id="user__name" name="user__name" placeholder="Namn">
                    <label for="user__name">Systemadministratör</label>
                </div>
                <div class="user__checkbox__group__item">
                    <input type="checkbox" id="user__name" name="user__name" placeholder="Namn">
                    <label for="user__name">Bärgare</label>
                </div>
                <div class="user__checkbox__group__item">
                    <input type="checkbox" id="user__name" name="user__name" placeholder="Namn">
                    <label for="user__name">Ekonomi</label>
                </div>
                <div class="user__checkbox__group__item">
                    <input type="checkbox" id="user__name" name="user__name" placeholder="Namn">
                    <label for="user__name">Dirigering</label>
                </div>
                <div class="user__checkbox__group__item">
                    <input type="checkbox" id="user__name" name="user__name" placeholder="Namn">
                    <label for="user__name">Bärgning Koodrinator</label>
                </div>
                <div class="user__checkbox__group__item">
                    <input type="checkbox" id="user__name" name="user__name" placeholder="Namn">
                    <label for="user__name">Register</label>
                </div>
                <div class="user__checkbox__group__item">
                    <input type="checkbox" id="user__name" name="user__name" placeholder="Namn">
                    <label for="user__name">Extern beställare</label>
                </div>
            </div>

            <h2>Funktionalitet</h2>

            <div class="user__checkbox__group user__checkboxes">

                <div class="user__checkbox__group__item">
                    <input type="checkbox" class="checkbox" id="user__name" name="multitransport" placeholder="Namn">
                    <label for="multitransport">Multitransport</label>
                </div>
                
                <div class="user__checkbox__group__item">
                    <input type="checkbox" id="user__name" name="tma" placeholder="Namn">
                    <label for="tma">TMA</label>
                </div>
                
                <div class="user__checkbox__group__item">
                    <input type="checkbox" id="user__name" name="towing" placeholder="Namn">
                    <label for="towing">Bärgning</label>
                </div>

            </div>

            <button class="save__button">Spara</button>
            <button class="button__back">Stäng</button>
            <div class="delete__button"> Ta bort användare</div>
                
        </dialog>
          
   </div>