<div class="user__settings__wrapper content__background">
    <h2 class="page__heading">Inställningar</h2>
    
    <div class="company__info__general content__frame">
        <h3 class="settings__header"> Företagsuppgifter</h3>
        <div class="form__two__cols">

            <div class="form__group">
                <label for="company__name" class="form__label">Företagsnamn</label>
                <input type="text" name="company__name" id="company__name" class="form__input" placeholder="Företagsnamn">
            </div>

            <div class="form__group">
                <label for="company__shortname" class="form__label">Kortnamn</label>
                <input type="text" name="company__shortname" id="company__shortname" class="form__input" placeholder="Kortnamn">
            </div>

            <div class="form__group">
                <label for="company__org__number" class="form__label">Organisationsnummer</label>
                <input type="text" name="company__org__number" id="company__org__number" class="form__input" placeholder="Organisationsnummer">
            </div>
            
            <div class="form__group">
                <label for="company__phone__number" class="form__label">Telefonnummer</label>
                <input type="text" name="company__phone__number" id="company__phone__number" class="form__input" placeholder="Telefonnummer">
            </div>

            <div class="form__group">
                <label for="company__email" class="form__label">Email</label>
                <input type="text" name="company__email" id="company__email" class="form__input" placeholder="Email">
            </div>

            <div class="form__group">
                <label for="company__contact__person" class="form__label">Kontaktperson</label>
                <input type="text" name="company__contact__person" id="company__contact__person" class="form__input" placeholder="Kontaktperson">
            </div>

            <div class="form__group">
                <label for="company__address" class="form__label">Adress</label>
                <input type="text" name="company__address" id="company__address" class="form__input" placeholder="Adress">
            </div>

            <div class="form__group">
                <label for="company__zip" class="form__label">Postnummer</label>
                <input type="text" name="company__zip" id="company__zip" class="form__input" placeholder="Postnummer">
            </div>

            <div class="form__group">
                <label for="company__city" class="form__label">Ort</label>
                <input type="text" name="company__city" id="company__city" class="form__input" placeholder="Ort">
            </div>

            <div class="form__group">
                <label for="company__country" class="form__label">Land</label>
                <input type="text" name="company__country" id="company__country" class="form__input" placeholder="Land">
            </div>


        </div>
    </div> 

    <div class="company__info__general content__frame">
        <h3 class="settings__header"> Ekonomikontakt</h3>
        <div class="form__two__cols">

            <div class="form__group">
                <label for="company__contact__person" class="form__label">Kontaktperson</label>
                <input type="text" name="company__contact__person" id="company__contact__person" class="form__input" placeholder="Kontaktperson">
            </div>
            
            <div class="form__group">
                <label for="company__email" class="form__label">Email</label>
                <input type="text" name="company__email" id="company__email" class="form__input" placeholder="Email">
            </div>

            <div class="form__group">
                <label for="company__phone__number" class="form__label">Telefonnummer</label>
                <input type="text" name="company__phone__number" id="company__phone__number" class="form__input" placeholder="Telefonnummer">
            </div>
        </div>
    </div> 

    <div class="company__info__general content__frame">
        <h3 class="settings__header"> Fakturauppgifter</h3>
        <div class="form__two__cols">

            <div class="form__group">
                <label for="company__address" class="form__label">Adress</label>
                <input type="text" name="company__address" id="company__address" class="form__input" placeholder="Adress">
            </div>

            <div class="form__group">
                <label for="company__zip" class="form__label">Postnummer</label>
                <input type="text" name="company__zip" id="company__zip" class="form__input" placeholder="Postnummer">
            </div>

            <div class="form__group">
                <label for="company__city" class="form__label">Ort</label>
                <input type="text" name="company__city" id="company__city" class="form__input" placeholder="Ort">
            </div>

            <div class="form__group">
                <label for="company__country" class="form__label">Land</label>
                <input type="text" name="company__country" id="company__country" class="form__input" placeholder="Land">
            </div>
        
        </div>
    </div> 

    <div class="company__infobox content__frame">
        <img src="icons/blue/info.png" class="company__infobox__icon" />
        <p class="company__infobox__content">Standardinställning för att dela intressenter med sammarbetsföretag. Detaljerad delning kan sen göras per intressent.</p>
    </div>

    <div class="company__logo content__frame">
        <h3 class="settings__header">Logotyp </h3>
        <img src="img/logo1.png" class="company__logo__img" onclick="document.getElementById('company__logo__file').click();" />
        <input type="file" name="company__logo__file" id="company__logo__file" class="company__logo__file" /> 
        <p class="trigger__file__upload" onclick="document.getElementById('company__logo__file').click();">Välj foto</p>
        <p class="company__logo__maxsize">(250 x 250 px)</p>
    </div>

    <div class="save__button">Spara</div>


</div>